
.vs/UnityClasses/v16/.suo
UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
*.cache
*.dll
*.pdb
UnityClasses/bin/Debug/UnityEngine.xml
UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/obj/Debug/ResourceDictionary.baml
VRmaze_ExtensionViewModelProject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRmaze_ExtensionProject/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
