
.vs/UnityClasses/v16/.suo
UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
*.cache
*.dll
*.pdb
UnityClasses/bin/Debug/UnityEngine.xml
UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/obj/Debug/ResourceDictionary.baml
VRmaze_ExtensionViewModelProject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRmaze_ExtensionProject/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/bin/Debug/EPPlus.xml
VRmaze_ExtensionViewModelProject/bin/Debug/HumanVirtualMaze_ViewModel.dll.config
VRmaze_ExtensionViewModelProject/bin/Debug/MathNet.Numerics.xml
VRmaze_ExtensionViewModelProject/bin/Debug/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.Wpf.Shared.xml
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.Wpf.xml
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.xml
VRmaze_ExtensionProject/bin/Debug/MathNet.Numerics.xml
VRmaze_ExtensionProject/bin/Debug/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionProject/obj/Debug/VRMazeClasses.csproj.CopyComplete
VRmaze_ExtensionProject/obj/Debug/VRMazeClasses.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/Debug/VRmaze_ExtensionViewModelProject.csproj.CopyComplete
VRmaze_ExtensionViewModelProject/obj/Debug/VRmaze_ExtensionViewModelProject.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/Debug/VRmazeClasses_ViewModel.g.resources
