
.vs/UnityClasses/v16/.suo
UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
*.cache
*.dll
*.pdb
UnityClasses/bin/Debug/UnityEngine.xml
UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.CopyComplete
SimpleUnityClasses/UnityClasses/obj/Debug/UnityClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/obj/Debug/ResourceDictionary.baml
VRmaze_ExtensionViewModelProject/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRmaze_ExtensionProject/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/bin/Debug/EPPlus.xml
VRmaze_ExtensionViewModelProject/bin/Debug/HumanVirtualMaze_ViewModel.dll.config
VRmaze_ExtensionViewModelProject/bin/Debug/MathNet.Numerics.xml
VRmaze_ExtensionViewModelProject/bin/Debug/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.Wpf.Shared.xml
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.Wpf.xml
VRmaze_ExtensionViewModelProject/bin/Debug/OxyPlot.xml
VRmaze_ExtensionProject/bin/Debug/MathNet.Numerics.xml
VRmaze_ExtensionProject/bin/Debug/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionProject/obj/Debug/VRMazeClasses.csproj.CopyComplete
VRmaze_ExtensionProject/obj/Debug/VRMazeClasses.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/Debug/VRmaze_ExtensionViewModelProject.csproj.CopyComplete
VRmaze_ExtensionViewModelProject/obj/Debug/VRmaze_ExtensionViewModelProject.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/Debug/VRmazeClasses_ViewModel.g.resources
VRmaze_ExtensionProject/bin/Debug/UnityEngine.xml
VRmaze_ExtensionProject/bin/Release/MathNet.Numerics.xml
VRmaze_ExtensionProject/bin/Release/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionProject/bin/Release/UnityEngine.xml
VRmaze_ExtensionProject/bin/x64/Release/MathNet.Numerics.xml
VRmaze_ExtensionProject/bin/x64/Release/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionProject/bin/x64/Release/UnityEngine.xml
VRmaze_ExtensionViewModelProject/obj/x64/Release/VRmazeClasses_ViewModel.g.resources
VRmaze_ExtensionViewModelProject/obj/x64/Release/VRmaze_ExtensionViewModelProject.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/x64/Release/VRmaze_ExtensionViewModelProject.csproj.CopyComplete
VRmaze_ExtensionViewModelProject/obj/x64/Release/ResourceDictionary.baml
VRmaze_ExtensionViewModelProject/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/obj/Release/VRmazeClasses_ViewModel.g.resources
VRmaze_ExtensionViewModelProject/obj/Release/VRmaze_ExtensionViewModelProject.csproj.FileListAbsolute.txt
VRmaze_ExtensionViewModelProject/obj/Release/VRmaze_ExtensionViewModelProject.csproj.CopyComplete
VRmaze_ExtensionViewModelProject/obj/Release/ResourceDictionary.baml
VRmaze_ExtensionViewModelProject/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VRmaze_ExtensionViewModelProject/bin/x64/Release/UnityEngine.xml
VRmaze_ExtensionViewModelProject/bin/x64/Release/OxyPlot.xml
VRmaze_ExtensionViewModelProject/bin/x64/Release/OxyPlot.Wpf.xml
VRmaze_ExtensionViewModelProject/bin/x64/Release/OxyPlot.Wpf.Shared.xml
VRmaze_ExtensionViewModelProject/bin/x64/Release/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionViewModelProject/bin/x64/Release/MathNet.Numerics.xml
VRmaze_ExtensionViewModelProject/bin/x64/Release/HumanVirtualMaze_ViewModel.dll.config
VRmaze_ExtensionViewModelProject/bin/x64/Release/EPPlus.xml
VRmaze_ExtensionViewModelProject/bin/Release/UnityEngine.xml
VRmaze_ExtensionViewModelProject/bin/Release/OxyPlot.xml
VRmaze_ExtensionViewModelProject/bin/Release/OxyPlot.Wpf.xml
VRmaze_ExtensionViewModelProject/bin/Release/OxyPlot.Wpf.Shared.xml
VRmaze_ExtensionViewModelProject/bin/Release/Microsoft.Expression.encoding.types.dll.config
VRmaze_ExtensionViewModelProject/bin/Release/MathNet.Numerics.xml
VRmaze_ExtensionViewModelProject/bin/Release/HumanVirtualMaze_ViewModel.dll.config
VRmaze_ExtensionViewModelProject/bin/Release/EPPlus.xml
VRmaze_ExtensionViewModelProject/bin/Debug/UnityEngine.xml
VRmaze_ExtensionProject/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionProject/obj/Release/VRMazeClasses.csproj.CopyComplete
VRmaze_ExtensionProject/obj/Release/VRMazeClasses.csproj.FileListAbsolute.txt
VRmaze_ExtensionProject/obj/x64/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
VRmaze_ExtensionProject/obj/x64/Release/VRMazeClasses.csproj.CopyComplete
VRmaze_ExtensionProject/obj/x64/Release/VRMazeClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/x64/Release/UnityClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/x64/Release/UnityClasses.csproj.CopyComplete
SimpleUnityClasses/UnityClasses/obj/x64/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
SimpleUnityClasses/UnityClasses/obj/Release/UnityClasses.csproj.FileListAbsolute.txt
SimpleUnityClasses/UnityClasses/obj/Release/UnityClasses.csproj.CopyComplete
SimpleUnityClasses/UnityClasses/bin/Debug/UnityEngine.xml
SimpleUnityClasses/.vs/UnityClasses/v16/.suo
